* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}
input {
  border: none;
}
body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  color: white;
  background-color: #fff;
}
.section-input {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 8.4rem 8.4rem 4rem 8.4rem;
  gap: 2rem;
  border-bottom: 3px solid rgba(131, 194, 219, 0.288);
  background: linear-gradient(
    90deg,
    rgba(111, 168, 201, 0.671),
    rgba(232, 148, 240, 0.664)
  );
}
.section-input h2 {
  font-size: 4rem;
  color: #0b7285;
  font-weight: 800;
}
.phrase {
  color: #333;
  font-size: 2rem;
  font-weight: 600;
}
.section-input input {
  font-size: 1.8rem;
  padding: 1rem 1rem;
  border-radius: 10px;
  border: 2px solid #6fa7b1a9;
}
.section-cards {
  background-color: #f2f2f2;
}
.container {
  /* 1140px */
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
.section-cards h3 {
  max-width: 120rem;
  padding: 2rem;
  font-size: 5rem;
  font-weight: 600;
  color: #1098ad;
  margin-bottom: 2rem;
}
.card-grid {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  justify-content: center;
  margin: 0 auto;
  gap: 2rem;
  margin-bottom: 10rem;
}
.card {
  align-self: center;
  border: 2px solid black;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  box-shadow: 0 2px 15px black;
  transition: all 0.3s;
}
.card-link {
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}
.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.card:hover {
  transform: scale(1.1);
}
footer {
  background: #414141;
  padding: 60px 0 30px;
  margin: auto;
  overflow: hidden;
}
.contenedor-footer {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 50px;
  border-bottom: 1px solid #ccc;
}
.content-foo {
  text-align: center;
}
.content-foo h4 {
  color: #fff;
  border-bottom: 3px solid #0b7285;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.content-foo p {
  color: #ccc;
}
.content-foo a {
  color: #ccc;
  text-decoration: none;
}
.titulo-final {
  font-size: 20px;
}
.curso,
.titulo-final {
  text-align: center;
  margin: 20px 0 0;
  color: #9e9797;
  font-weight: 100;
}
.curso {
  font-size: 15px;
}
